<section data-ng-controller="TripsController" class="view">
  <div class="header">
    <a class="pull-left" data-ng-href="#!/trips"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <h1>New Trip</h1>
    <a class="pull-right"><span class="glyphicon glyphicon-user"></span></a>
  </div>
  <div class="content">
    <form class="form" role="form" data-ng-submit="create()">
      <div class="form-group">
        <input type="text" class="form-control" data-ng-model="title" id="title" placeholder="Title" required>
      </div>
      <div class="footer">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
    </form>
  </div>
</section>