<section data-ng-controller="TripsController" data-ng-init="findOne()" class="view">
  <div class="header">
    <a class="pull-left" data-ng-href="#!/trips/{{trip._id}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <h1>Edit Trip</h1>
  </div>
  <div class="content">
    <form class="form" role="form" data-ng-submit="update()">
      <div class="form-group">
        <input type="text" class="form-control" data-ng-model="trip.title" id="title" placeholder="Title" required>
      </div>
      <div class="footer">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
    </form>
  </div>
</section>