.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:70px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.venues {
    clear: left;
    margin: 0;
    padding: 0;
}
.venues li {
    color: #428bca;
    border: 1px solid #f2f2f2;
    list-style: none;
    padding: 5px 10px;
}
.venues li:first-child {
    border-radius: 5px 5px 0 0;
}
.venues li:last-child {
    border-radius: 0 0 5px 5px;
}
.venues li + li {
    border-top: 0;
}
.venues li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}