<div class="row">
  <a href="#/" class="back">&lt; Trips</a>
  <h4 class="text-center">Endorse a Place</h4>
  <div class="col-xs-12 form">
    <div class="input-group">
      <input class="form-control" ng-model="query" placeholder="Search">
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="getVenues(query)">Search</button>
      </span>
    </div>
  </div>
  <ul>
    <li ng-repeat="venue in venues">
      <a href="#"><img alt="{{venue.categories.0.name}}" ng-src="{{venue.categories.0.icon.prefix}}32{{venue.categories.0.icon.suffix}}">{{venue.name}}<br><small class="text-muted">{{venue.location.address}}</small></a>
    </li>
  </ul>
</div>