<div class="row">
  <a href="#/" class="back">&lt; Trips</a>
  <h4 class="text-center">Endorse a Place</h4>
  <form class="col-xs-12 form" ng-submit="getVenues(query)">
    <input class="form-control" ng-model="query" placeholder="Search">
  </form>
  <ul>
    <li class="venue" ng-repeat="venue in venues">
      <a href="#"><img alt="{{venue.categories.0.name}}" ng-src="{{venue.categories.0.icon.prefix}}32{{venue.categories.0.icon.suffix}}">{{venue.name}}<br><small class="text-muted">{{venue.location.address}}</small></a>
    </li>
  </ul>
</div>